body {
    font-family: 'Garamond', serif;
    background-color: #2e2e2e; /* Fundo escuro */
    color: #d1d1d1; /* Texto suave e com contraste */
    padding: 20px;
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 2em;
    color: #ff6347; /* Cor de destaque, tipo um tom de sangue */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 1.5em;
    color: #ffcc00; /* Um dourado fantasmagórico */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

img {
    max-width: 100%;
    height: auto;
    border: 5px solid #333; /* Bordas sombrias */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7); /* Sombra forte */
}

.opcoes ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.opcoes li {
    margin: 10px 0;
}

.opcoes a {
    text-decoration: none;
    font-size: 1.2em;
    color: #b0c4de; /* Azul esbranquiçado, com ar de mistério */
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s, transform 0.3s;
}

.opcoes a:hover {
    background-color: #8b0000; /* Vermelho profundo no hover */
    color: #fff;
    transform: scale(1.1); /* Efeito de zoom para mais tensão */
}

.texto p {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 20px auto;
    max-width: 800px;
    text-align: justify;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .opcoes a {
        font-size: 1em;
    }
}
